{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %}{{ block.super }}{% endblock %}
{% block bodyclass %}{{ block.super }} monobank-statement{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
  <script>
      $(document).ready(function () {
          $('#statement').DataTable({
              paging: true,
              pageLength: 50,
              searching: true,
              order: [[1, 'desc']],
              language: {
                  url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/uk.json',
                  decimal: ',',
                  thousands: '.'
              },
              columnDefs: [
                  {
                      targets: 0,
                      orderable: false,
                      searchable: false
                  },
                  {
                      targets: 3,
                      render: function (data) {
                          let num = parseFloat(data);
                          let formattedNum = num.toLocaleString('uk-UA', {
                              minimumFractionDigits: 2,
                              maximumFractionDigits: 2
                          });

                          // Додаємо стилі залежно від значення
                          if (num < 0) {
                              return `<span style="color: red;">${formattedNum}</span>`;
                          } else if (num > 400) {
                              return `<span style="color: green;">${formattedNum}</span>`;
                          }
                          return formattedNum;
                      }
                  },
                  {
                      targets: 6,
                      render: function (data) {
                          let num = parseFloat(data);
                          return num.toLocaleString('uk-UA', {minimumFractionDigits: 2, maximumFractionDigits: 2});
                      }
                  },


              ]
          });
      });
  </script>
{% endblock %}
{% block title %}Виписка Monobank {{ block.super }}{% endblock %}
{% block coltype %}flex{% endblock %}

{% if not is_popup %}
  {% block nav-breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
      <a href="../">{% translate 'Bank' %}</a> &rsaquo; Виписка Monobank
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      {% if form.errors or errors %}
        <div class="alert alert-danger">
          {{ form.errors }}
          {{ errors }}
        </div>
      {% endif %}
      <div class="col-md-3 col-lg-2">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Отримати виписку</button>
        </form>
      </div>

      <!-- Main content -->
      <div class="col-md-9 col-lg-10">
        <h1>Виписка Monobank</h1>
        <table style="width:100%" class="order-column" id="statement">
          <thead>
          <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Опис транзакції</th>
            <th>Сума</th>
            <th>Комісія</th>
            <th>Коментар</th>
            <th>Баланс</th>
          </tr>
          </thead>
          <tbody>
          {% for item in transactions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.time }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.commission|floatformat:2 }}</td>
              <td>{{ item.comment }}</td>
              <td>{{ item.balance }}</td>
            </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th colspan="6" style="text-align:right">Всього:</th>
            <th>{{ transactions|length }}</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <script>
      function updateCards(clientSelect) {
          const clientId = clientSelect.value;
          const cardField = document.getElementById("id_card_id");

          if (!clientId) {
              cardField.innerHTML = "<option value=''>--- Зпочатку оберіть клієнта ---</option>";
              return;
          }

          fetch(`/bank/api/get-cards/${clientId}/`)
              .then(response => response.json())
              .then(data => {
                  cardField.innerHTML = ""; // Очищаємо старі опції
                  data.cards.forEach(card => {
                      const option = document.createElement("option");
                      option.value = card.card_id;
                      option.textContent = card.card_id;
                      cardField.appendChild(option);
                  });
              })
              .catch(error => {
                  console.error("Помилка при завантаженні карток:", error);
              });
      }
  </script>

{% endblock %}
