{% extends "admin/base_site.html" %}

{% block content %}
<h1>Виписка Monobank</h1>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Сума</th>
            <th>Опис</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
